@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('/fonts/Akshar.ttf');
@import url('/fonts/Alegreya Sans SC.ttf');

:root {
  background: url('/logo.png');
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: 'Title';
    src: url('/fonts/Akshar.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Text';
    src: url('/fonts/Alegreya Sans SC.ttf');
  }
}